#form {
  width: 100%;
}

#inputs {
  width: 500px;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}