<a href="index.html">Back to Main</a>
<main>
  <h1>Pat's Salmon Cookies</h1>
  <h3>Daily Sales Information</h3>
  <section>
    <table>
      <thead id="thead">
      </thead>
      <tbody id="tbody">
      </tbody>
      <tfoot id="tfoot">
      </tfoot>
    </table>
  </section>
  <!-- <form id="form">
    <fieldset> New Location
      <label>Name
        <input id="locationName" required name="locationName" type="text" />
      </label>
      <label> Min/Max Customers
        <input id="minimumcustomers" required name="minimumcustomers" type="number" min="1">to</input>
        <input id="maximumcustomers" required type="number" name="maximumcustomers" min="1">
        </input>
      </label>
      <label> Sales
        <input id="avgCookiesPerCustomer" required name="avgCookiesPerCustomer" type="number" min="0" step=".1">
        <button id="submit">Submit</button>
      </label>
    </fieldset>
  </form> -->
</main>