<main id="indexbody">

  <h2>Salmon Cookies</h2>
  <div>
    <h4>Cookies with just a hint of fishy goodness!</h4>
    <img class="imageCenter" src="assets/salmon.png" />
    <div>
      <h4>Our story</h4>
      <img class="imageRight" src="assets/family.jpg" />
      <p>About 3 years ago, my family and I had this wonderful idea. We were at a coffee shop in the Seattle, WA area,
        watching the ferry boats go by, and started talking about the region. Seattle is a beautiful area of the world,
        and
        once of our most beloved fish (the Salmon), is prevalent everywhere you look in the city. Well...
        <b><em>almost</em></b> everywhere you look.
        <img class="imageLeft" src="assets/fish.jpg" />
      <p>We started thinking more seriously about this idea, a recipe that would incorporate our beloved Salmon into a
        delectable coffee house pastry. It took a few months of experimenting in the kitchen and tweaking recipes, but
        eventually we FINALLY had it! The Salmon cookie! Once we had the recipe, we had to create our own cookie cutter
        that
        would be as visually appealing to our customers as our hint-of-fish cookies had to their tastebuds.
        <img class="imageRight" src="assets/cutter.jpeg" />
      <p>And so we began! With the right cookie cutter, we were able to make the most amazing looking cookies! Although
        we
        are a new company, we've had a tremendous amount of growth, and now have locations in five cities in as many
        countries across the world! The brick and mortar locations are a popular place for area espresso stands to buy
        their
        quantities they are able to offer at their neighborhood stands (with permission, of course!). We are happy to
        have
        our neighboring cities take an interest in our delicious, yet eclectic, tasty little morsels.
        <img class="imageLeftLarge" src="assets/frosted-cookie.jpg" />
      <p>We are still a growing business! If you have any feedback, we would love to hear about it. In the meantime, in
        our
        Seattle location, not only do we sell our fabulous cookies, but we have some amazing t-shirts if you'd like to
        show
        your support for Seattle's marvelous unofficial favorite fish, the salmon!
        <img class="imageCenterTwo" src="assets/shirt.jpg" />
    </div>
    <hr />
    <app-location>
    </app-location>
    <img src="assets/chinook.jpg" />
    <hr />
    <h4>Contact us</h4>
    <p>Contact Pat directly: (206) 903-8010</p>
    <p>Email: pats.salmon.cookies@gmail.com</p>
    <div>&nbsp;</div><br />
  </div>
</main>