#salesbody {
  text-align: center;
  background-image: linear-gradient(to bottom right, salmon, white, salmon);
  height: 700px;
}

#indexbody {
  margin: auto;
  width: 70%;
}

h2 {
  font-size: 45px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: navy;
}

h4 {
  font-size: 20px;
  text-align: center;
}

h5 {
  font-size: 30px;
  margin: 5px;
  font-family: 'Handlee', cursive;
  color: rgb(4, 54, 4);
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  border: dotted black 2px;
  margin: 10px;
}

table {
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  border: black 1px solid;
  background-color: rgb(238, 236, 236);
  border-radius: 5px;
}

h1, h3 {
  margin-left: 25%;
  margin-right: 25%;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.imageCenter {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageCenterTwo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

div {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imageRight {
  float: right;
  width: 200px;
  height: 110px;
  padding: 15px;
}

.imageLeft {
  float: left;
  width: 100px;
  height: 100px;
  padding: 15px;
}

.imageLeftLarge {
  float: left;
  width: 200px;
  height: 100px;
  padding: 15px;
}

fieldset {
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
  margin-top: 50px;
  background-color: rgb(238, 236, 236);
}

section {
  display: block;
  text-align: left;
}

footer {
  text-align: center;
}

footer image {
  display: block;
  width: 50px;
  height: 25px;
}

p {
  font-size: 17px;
}